.navigation:hover  {
     color: #4D5AE5;
     
}
.body {
     color: #434455;
     background-color: #FFFFFF;
       font-family: "Roboto", sans-serif;
       font-size: 16px;
       line-height: 124%;
}
.title {
     letter-spacing: 0.02em;
       font-weight: 700;
       font-size: 56px;
       line-height: 107%;
}
.team {
     font-weight: 700;
       font-size: 36px;
       line-height: 111%;
       text-align: center;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       color: #2E2F42;

}
.portfolio {
     color: #2E2F42;
       letter-spacing: 0.02em;
       font-weight: 500;
       font-size: 20px;
       line-height: 120%;
       letter-spacing: 0.02em;
}
.button {
     font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       background: #4D5AE5;
       color: #FFFFFF;
       cursor: pointer;

}
.logo {
     color: #4d5ae5;
     font-weight: 700;
     font-family:"Releway", sans-serif;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
}
.span {
     color: #2e2f42;
          font-weight: 700;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
}
.section-team {
     background: #F4F4FD;
}
.section-h {
     background-color: #2E2F42;
          color: #FFFFFF;
          text-align: center;
}
.footer {
     background-color: #2E2F42;
}
.logo-footer {
     color: #4d5ae5;
     font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 117%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
}
.footer-text {
     color: #F4F4FD;
           font-weight: 400;
           font-size: 16px;
           line-height: 1.5;
           letter-spacing: 0.02em;
}
.span-footer {
     color: #f4f4fd;
}
.section-portfolio {
     color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize
}
.p2{
     font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455
}
.navigation-s{
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;

}
.address{
     font-style: normal;
}
.navigation-t{
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}
.services{
     font-weight: 500;
     font-size: 20px;
     line-height: 120%;
     text-align: center;
     letter-spacing: 0.02em;
     color: #2E2F42;
}
.text-sevices{
     font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455
}
.li-taem {
     background-color: #FFFFFF;

}
.text-portfolio {
     font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455
}
.li-services {
     font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          text-align: center;
          letter-spacing: 0.02em;
          color: #2E2F42;
     }
.navigation-s:hover
.navigation-s:focus{
     color: #404bbf;
}
.button:hover
.button:focus {
     background-color: #404bbf;
     color: #FFFFFF;
}

